.calendarPage {
  margin: 0;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  .schedulerCalendar {
    grid-column: 1;
    height: 100%;
  }
  .sidebar {
    grid-column: 2;
  }
}
