.buttonBlue {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 130, 249, 1);
  border-radius: 50%;
  transition: 0.5s;
}

.buttonBlue:hover {
  background-color: rgb(51, 108, 206);
  transition: 0.5s;
}

.buttonRed {
  background: red !important;
}

.buttonRed:hover {
  background: rgb(148, 1, 1) !important;
  transition: 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .buttonBlue {
    width: 2.5rem;
    height: 2.5rem;
  }
}
