.buttonBlue {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 130, 249, 1);
  border-radius: 50%;
}

.buttonRed {
  background: red !important;
}
