.schedulerModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 25;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    height: 100%;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeModal {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
